name: CI

# Controls when the action will run. 
on:
  push:
    branches: '**'
    tags: '**'
  pull_request:
    branches: '**'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: windows-2019

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install job dependencies / Pip Installer
      uses: BSFishy/pip-action@v1
      with:
        requirements: requirements.txt
    
    - name: Run tests / pytest
      run: python -m pytest tests
    
    - name: Lint code / pylint
      run: |
        pylint timerecorder --rcfile=timerecorder/.pylintrc
        pylint tests --rcfile=tests/.pylintrc

  check:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      
    - name: Check markdown links
      uses: gaurav-nelson/github-action-markdown-link-check@v1
      with:
        use-verbose-mode: 'yes'
 
  assemble:
    runs-on: windows-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install job dependencies / Pip Installer
      uses: BSFishy/pip-action@v1
      with:
        requirements: requirements.txt
    
    - name: Bundle DR1 executable / PyInstaller
      run: |
        resources\bundle-dr1.ps1
      shell: pwsh
      env:
        DRTR_CODESIGN_CERTIFICATE_PASS: ${{ secrets.DRTR_CODESIGN_CERTIFICATE_PASS }}

    - name: Zip distribution / create-7z-action
      uses: DuckSoft/create-7z-action@v1.0
      with:
        pathSource: ./dist/timerecorder-dr1
        pathTarget: artifacts/timerecorder-dirt-rally.zip

    - name: Bundle DR2 executable / PyInstaller
      run: |
        resources\bundle-dr2.ps1
      shell: pwsh
      env:
        DRTR_CODESIGN_CERTIFICATE_PASS: ${{ secrets.DRTR_CODESIGN_CERTIFICATE_PASS }}

    - name: Zip distribution / create-7z-action
      uses: DuckSoft/create-7z-action@v1.0
      with:
        pathSource: ./dist/timerecorder-dr2
        pathTarget: artifacts/timerecorder-dirt-rally-2.0.zip

    - name: Hash zip files
      run: |
        $dr1_hash = (Get-FileHash -Algorithm SHA256 artifacts/timerecorder-dirt-rally.zip).Hash
        $dr2_hash = (Get-FileHash -Algorithm SHA256 artifacts/timerecorder-dirt-rally-2.0.zip).Hash
        echo "timerecorder-dirt-rally-2.0.zip SHA256: $dr2_hash" 
        echo "timerecorder-dirt-rally.zip SHA256: $dr1_hash"

    - name: Archive artifacts
      uses: actions/upload-artifact@v1
      with:
        name: artifacts.zip
        path: artifacts
