name: CI

# Controls when the action will run. 
on:
  push:
    branches: '**'
    tags: '**'
  pull_request:
    branches: '**'

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build:
    runs-on: windows-2019

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v1.2.0
      with:
        python-version: 3.7

    - name: Install job dependencies / Pip Installer
      uses: BSFishy/pip-action@v1
      with:
        packages: |
          pytest
          PyYAML==5.3
    
    - name: Run tests / pytest
      run: python -m pytest tests
  
  assemble:
    runs-on: windows-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/') || endsWith(github.ref, 'project-structure-issue-26')
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Setup Python
      uses: actions/setup-python@v1.2.0
      with:
        python-version: 3.7

    - name: Install job dependencies / Pip Installer
      uses: BSFishy/pip-action@v1
      with:
        packages: |
          PyYAML==5.3
          pyinstaller==3.6
    
    - name: Bundle DR1 executable / PyInstaller
      run: |
        resources\bundle-dr1.bat

    - name: Zip distribution / create-7z-action
      uses: DuckSoft/create-7z-action@v1.0
      with:
        pathSource: ./dist/timerecorder
        pathTarget: artifacts/timerecorder-dirt-rally.zip

    - name: Bundle DR2 executable / PyInstaller
      run: |
        resources\bundle-dr2.bat

    - name: Zip distribution / create-7z-action
      uses: DuckSoft/create-7z-action@v1.0
      with:
        pathSource: ./dist/timerecorder
        pathTarget: artifacts/timerecorder-dirt-rally-2.0.zip

    - name: Archive artifacts
      uses: actions/upload-artifact@v1
      with:
        name: artifacts.zip
        path: artifacts
